{% extends "base.html" %}

{% block content %}
<h2>Встречайте: код наших братьев и сестёр</h2>
{% if current_user.is_authenticated %}
<a href="addreview" class="btn btn-secondary" style="margin-bottom: 1em;">Показать код суду</a>
{% endif %}
<div>
    <a href="/index/0" class="btn btn-danger">
        Все
    </a>
    <a href="/index/1" class="btn btn-primary">
        Python
    </a>
    <a href="/index/2" class="btn btn-primary">
        C++
    </a>
    <a href="/index/3" class="btn btn-primary">
        C#
    </a>
    <a href="/index/4" class="btn btn-primary">
        Java
    </a>
    <br>
    <br>
    {% for item in reviews%}
    <h3>Подсудимый код #{{ item.id }}</h3>
    <table class="table table-primary table-striped-columns" id="reviews">
        <thead>
        <tr>
            <th>Code</th>
            <th>Language</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                    <pre style="margin-left: 0px">
                        {{ item.code }}
                    </pre>
            </td>
            <td>{{ item.language_obj.language }}</td>
            <td>{{ item.author_user.nickname }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        {% if current_user.is_authenticated and (current_user == item.author_user or current_user.id == 1) %}
        <a href="/review/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/review_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        {% endif %}
        <a href="/comment_review/{{ item.id }}" class="btn btn-primary">
            Судить
        </a>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}